@import './global.scss';

.about{
  @include pagePadding;

  .show {
    display: flex;
    flex-direction: column;
  
    h1 {
      margin: 0;
      font-size: 36px;
    }
  
    button {
      @include detailButton;
    }
  }
}