
.about{
  height: calc(100vh - 48px);
  box-sizing: border-box;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: 36px;
  }
}