@import './global.scss';

.about {
  @include pageTopBtmMargin();
  @include pageSidePadding();
  box-sizing: border-box;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    list-style-type: none;
  }

  &__teachers {
    width: 100vw;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include pageSidePadding;
    padding-top: 5rem;
    padding-bottom: 2rem; 

    @media (min-width: $tablet) {
      padding-top: 6rem;
      padding-bottom: 3rem; 
    }

    &--each {
      width: 45%;
      margin-bottom: 3rem;

      @media (min-width: $tablet) {
        width: 22vw;
      }
      @media (min-width: $desktop) {
        width: 15vw;
      }
      @media (min-width: 1600px) {
        width: 16vw;
      }
      
      img {
        filter: grayscale(100%);
        width: 100%;
      }
  
      h5 {
        color: white;
        margin: 8px 0;
      }
    }
  }
}