@import './global.scss';

html {
  font-size: 62.5%;

  .App {
    font-size: 1.6rem;
    // font-family: 'GothamMedium';
    
    .hide{
      display: none;
    }
    
    .content {
      position: relative;
      min-height: calc(100vh - 64px);
      display: flex;
      flex-direction: column;
      align-items: center;

      //if inner element is too big for it's container
      //the overflowing parts will be hidden
      //this prevents gap on the right in mobile
      overflow: hidden;
    }

    footer {
      width: 100%;
      text-align: left;
      border-top: 1px solid black;
      margin-left: 4rem;
      margin-right: 4rem;
      padding: 15px 5px 0;
  
      @media (min-width: $tablet) {
        margin-left: 6rem;
        margin-right: 6rem;
        padding: 25px 8px 0;
      }

      h5 {
        margin: 0 0 8px;
        font-weight: bold;

        @media (min-width: $tablet) {
          margin-bottom: 12px;
        }
  
        &.credit {
          color: #9A9A9A;
          font-weight: normal;
        }
      }
    }
  } 
}
