
@import '/assets/fonts/stylesheet.css';

@mixin detailButton {
  background-color: black;
  color: white;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  border: 1px solid white;
  align-self: center;
}

button {
  background-color: black;
  color: white;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: 1px solid white;
  align-self: center;
  font-size: 12px;
}

@mixin pagePadding {
  padding: 0 4rem;
}

.App {
  // font-family: 'Gotham';
  font-family: 'GothamMedium';
}

.content {
  background-color: black;
  color: white;

  h1 {
    margin: 0;
  }

  h4 {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
}