@import './global.scss';

.main {
  @include pageTopBtmMargin();
  @include pageSidePadding();
  box-sizing: border-box;

  width: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  button {
    width: 200px;
  }

  &__logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;

    @media (min-width: $tablet) {
      height: 500px;
    }
    @media (min-width: $desktop) {
      height: 600px;
    }

    img {
      height: 60vw;
  
      @media (min-width: $tablet) {
        height: 30vw;
      }
    }
  }

  &__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: $tablet) {
      flex-direction: row-reverse;
    }

    &--title {
      text-align: center;
      margin-top: 100px;

      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  
    &--img {
      object-fit: contain;
      width: 100%;
      margin: 60px 0;
      
      @media (min-width: $tablet) {
        width: 450px;
      }
      @media (min-width: $desktop) {
        width: 400px;
      }
    }
  }
  
  &__program {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      flex-direction: row;
    }

    &--title {
      margin-top: 230px;

      @media (min-width: $tablet) {
        margin-top: 300px;
        width: 600px;
      }
    }
  
    &--img {
      width: 100%;
      margin: 60px 0;
      
      @media (min-width: $tablet) {
        width: 500px;
      }
    }
  }
  
  &__trial {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      flex-direction: row-reverse;;
    }
    
    &--title {
      margin-top: 200px;

      @media (min-width: $tablet) {
        margin-top: 300px;
      }
    }
    
    &--img {
      width: 100%;
      margin: 60px 0;

      @media (min-width: $tablet) {
        width: 500px;
      }
    }

    &--welcome {
      margin: 200px 0;

      @media (min-width: $tablet) {
        margin: 350px 0;
      }
      @media (min-width: $desktop) {
        margin: 300px 0;
      }
    }
  }
}