@import './global.scss';

.main {
  @include pageTopBtmMargin();
  @include pageSidePadding();
  box-sizing: border-box;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  button {
    width: 210px;
    height: 50px;
  }

  &__logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;

    @media (min-width: $tablet) {
      height: 500px;
    }
    @media (min-width: $desktop) {
      height: 40vw;
    }

    img {
      height: 60vw;
  
      @media (min-width: $tablet) {
        height: 30vw;
      }
      @media (min-width: $desktop) {
        height: 25vw;
        max-height: 50rem;
      }
    }
  }

  &__about, &__program, &__trial{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
  
    @media (min-width: $tablet) {
      margin: 120px 0;
      width: 100%;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      max-width: 200rem;
      margin: 150px 0;
    }

    &--img {
      width: 100%;
      
      @media (min-width: $tablet) {
        width: 35vw;
      }
    }

    &--text {
      @media (min-width: $tablet) {
        width: 45vw;
      }
      @media (min-width: $desktop) {
        width: 35vw;
      }

      h2 {
        margin-top: 40px;

        @media (min-width: $tablet) {
          margin-top: 0;
        }
      }

      p{
        margin-bottom: 40px;
      }
    }
  }

  &__about {
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }
  
  &__program {
    @media (min-width: $tablet) {
      flex-direction: row-reverse;
    }
  }

  &__trial {
    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__welcome {
    margin: 80px 0;

    @media (min-width: $tablet) {
      margin: 120px 0;
    }
    @media (min-width: $desktop) {
      margin: 150px 0;
    }

    img {
      width: 100%;

      @media (min-width: $tablet) {
        width: 50rem;
      }
      @media (min-width: $desktop) {
        width: 35vw;
      }
    }
  }

  &__qa {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    @media (min-width: $tablet) {
      margin-top: 100px; 
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      max-width: 150rem;
    }

    &--title {
      @media (min-width: $tablet) {
        text-align: left;
        border-top: 0.85px solid #707070;
      }

      h3 {
        @media (min-width: $tablet) {
          padding-top: 20px;
        }
      }

      img {
        width: 100%;
        margin: 30px 0;

        @media (min-width: $tablet) {
          width: 70%;
        }
      }
    }

    &--questions {
      @media (min-width: $tablet) {
        width: 60vw;
        margin-left: 5rem;
        border-top: 0.85px solid #707070;
        padding-top: 20px;
      }
      @media (min-width: $desktop) {
        width: 50vw;
      }

      .qa-each {
        text-align: left;
  
        h4 {
          margin: 0 0 8px;
        }
  
        p {
          margin: 0;
        }
  
        &#q1, &#q2, &#q3 {
          padding: 30px 0;
          border-top: 0.8px solid #707070;

          @media (min-width: $tablet) {
            padding: 20px 0;
            border: none;
          }
        }
  
        &#q4 {
          border-top: 0.8px solid #707070;
          padding-top: 30px;

          @media (min-width: $tablet) {
            border: none;
          }
        }
      }
  
      #qa-more {
        p {
          margin: 30px 0;
        }
  
        button {
          margin-bottom: 80px;
        }
      }
    }
  }
}