@import './global.scss';

.nav {
  @include navSidePadding();

  background-color: black;
  color: white;
  opacity: 0.85;

  box-sizing: border-box;
  height: 44px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;  
  align-items: center;

  &__menu {
    width: 35px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__logo {
    width: 40px;
    cursor: pointer;
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__mobileLang {
    font-weight: bold;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__lang {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
      cursor: pointer;
      width: 100px;
      height: 26px;
      background-color: black;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
}