@import './global.scss';

.nav {
  background-color: black;
  opacity: 0.9;
  color: white;

  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;  
  align-items: center;

  box-sizing: border-box;
  height: 44px;
  width: 100%;

  @media (min-width: $tablet) {
    padding-right: 8rem;
    padding-left: calc(8rem - 10px);
  }

  &__menu {
    width: 35px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__logo {
    width: 40px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__lang{
    cursor: pointer;
    width: 100px;
    height: 26px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  }
}