@import './global.scss';

$grey: #6F6F6F;

.program {
  // @include pageInnerMargin;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    margin: 60px 0 10px;
    
    section {
      display: inline;
      font-weight: normal;
    }
  }

  ul {
    padding-inline-start: 0;
    color: $grey;
    
    li {
      list-style-type: none;
      font-family: 'Gotham';
      font-size: 14px;
    }
  }

  &__jobs {

    #jobs-mobile {
      @media (min-width: $tablet) {
        display: none;
      }
    }
    #jobs-tablet {
      display: none;
      @media (min-width: $tablet) {
        display: block;
      }
    }
  }

  &__class {
    p {
      color: $grey;
    }
  }

  &__curriculum {
    &--item {
      .curriculumStep {
        font-weight: bold;
      }
  
      h4 {
        color: $grey;
        margin: 4px 0;
      }
  
      img {
        width: 15px;
      }
    }
  }
}